<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Главная страница</title>


</head>
<body>
<center>
<br>
<h1> Это сайт для анализа вакансий по запросам </h1>
<br><br><br>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-warning btn-lg"><a href="form"> Поиск </a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link btn-lg"><a href="###"></a>        </button>
<button class="btn btn-link link-dark btn-warning btn-lg "><a href="contacts"> Контакты </a> </button>
<br>
</center>



    </center>

  </body>
</html>